# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.uvkgykkbqyeoguubjobd:[YOUR-PASSWORD]@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.uvkgykkbqyeoguubjobd:[YOUR-PASSWORD]@aws-1-us-west-2.pooler.supabase.com:5432/postgres"
JWT_SECRET="change-me-to-a-long-random-string"
ADMIN_API_KEY="change-me-to-a-secret-key"
PORT=3001
